version: 3.0.{build}.0
build_cloud: WIN-LKR467JS4GL
image: Windows
test: off
environment:
  DmfRootPath: C:\projects\DMF
  DOMITO_INC_PATH: C:\projects\Domito\include
  DOMITO_LIB_PATH: C:\projects\Domito\lib
  SCPLIB_ENABLE_TELEMETRY: "true"
platform:
- x64
- ARM64
- x86
configuration:
- Release
skip_commits:
  files:
    - '**/*.md'
    - '**/*.aip'
    - '.vscode/*'
    - '**/*.json'
    - 'setup/*'
install:
#- cmd: vcpkg integrate install
#- cmd: vcpkg update
# workaround for "CMake Error: Not a file: C:\tools\vcpkg\buildtrees\0.vcpkg_dep_info.cmake"
- ps: Start-Sleep -Seconds (Get-Random -Minimum 1 -Maximum 6)
# manifest mode takes forever to build each commit so use global copy instead
- cmd: vcpkg install hidapi:%PLATFORM%-windows-static spdlog:%PLATFORM%-windows-static abseil:%PLATFORM%-windows-static winreg:%PLATFORM%-windows-static opentelemetry-cpp[otlp-grpc]:%PLATFORM%-windows-static
- cmd: git submodule -q update --init
- cmd: git clone -q https://github.com/microsoft/DMF.git C:\projects\DMF 2> nul || set ERRORLEVEL=0
- cmd: |
    cd "C:\projects\DMF"
    git pull > NUL
    cd %appveyor_build_folder%
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'
before_build:
- cmd: nuget restore
- cmd: vpatch.exe --stamp-version "%APPVEYOR_BUILD_VERSION%" --target-file ".\sys\dshidmini.vcxproj" --vcxproj.inf-time-stamp
- cmd: vpatch.exe --stamp-version "%APPVEYOR_BUILD_VERSION%" --target-file ".\sys\dshidmini.rc" --resource.file-version --resource.product-version
- cmd: vpatch.exe --stamp-version "%APPVEYOR_BUILD_VERSION%" --target-file ".\XInputBridge\XInputBridge.rc" --resource.file-version --resource.product-version
- cmd: dotnet restore .\ControlApp\
build_script:
- cmd: .\build.cmd
- cmd: if %PLATFORM%==x64 dotnet publish /p:PublishProfile=Properties\PublishProfiles\release-win-x64.pubxml .\ControlApp\
after_build:
- cmd: if not %PLATFORM%==x86 makecab.exe /f .\DsHidMini_%PLATFORM%.ddf
artifacts:
- path: 'disk1\*.cab'
- path: 'bin**\$(APPVEYOR_PROJECT_NAME)\*.inf'
- path: 'bin**\$(APPVEYOR_PROJECT_NAME)\*.cat'
- path: 'bin**\$(APPVEYOR_PROJECT_NAME)\*.dll'
- path: 'bin**\*.pdb'
- path: 'bin**\*.dll'
- path: 'bin\*.exe'
deploy:
- provider: Environment
  name: BUILDBOT
  on:
    appveyor_repo_tag: true
