<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="baget.nefarius.at" value="https://baget.nefarius.at/v3/index.json" protocolVersion="3" />
        <add key="CsWin32Nightly" value="https://pkgs.dev.azure.com/azure-public/winsdk/_packaging/CI/nuget/v3/index.json" />
    </packageSources>
</configuration>