<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="4.1.0" targetFramework="net46" />
  <package id="Device.Net" version="3.1.0" targetFramework="net46" />
  <package id="Fody" version="6.1.1" targetFramework="net46" developmentDependency="true" />
  <package id="Hid.Net" version="3.1.0" targetFramework="net46" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net46" />
</packages>