<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdonisUI" version="1.17.0" targetFramework="net45" />
  <package id="AdonisUI.ClassicTheme" version="1.17.0" targetFramework="net45" />
  <package id="Costura.Fody" version="4.1.0" targetFramework="net45" />
  <package id="Fody" version="6.3.0" targetFramework="net45" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="3.3.1" targetFramework="net45" />
</packages>